.aboutPage{
    height: 100vh;
    width: 100%;
}

.aboutHeading{
    margin-top: 25px;
    text-align: center;
    color: #122851;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 35px;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInHeading 0.8s forwards;
}

@keyframes fadeInHeading {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.paras{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    height: 60vh;
    width: 65%;
    gap: 30px;
}

.para{
    font-size: 25px;
    color: rgb(67, 66, 66);
    opacity: 0;
    transform: translateX(20px);
    animation: fadeIn 0.8s forwards;
}

.para:nth-child(1) { animation-delay: 0.2s; }
.para:nth-child(2) { animation-delay: 0.6s; }
.para:nth-child(3) { animation-delay: 1s; }
.para:nth-child(4) { animation-delay: 1.2s; }

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 700px) and (min-width: 500px){
    .aboutPage{
        height: 1130px;
    }
    .aboutHeading{
        font-size: 25px;
    }
    .para{
        font-size: 20px;
    }
}

@media (max-width: 451px){
    .aboutPage{
        height: 180vh;
    }
    .aboutHeading{
        font-size: 25px;
    }
    .para{
        font-size: 20px;
    }
}