.movieCard{
    display: flex;
    flex-direction: column;
    height: 575px;
    width: 402px;
    box-shadow: 0 0 15px rgba(13, 13, 13, 0.365);
    border-radius: 2rem;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 90px;
    min-width: 300px;
    background-color: white;
}

img{
    width: 100%;
    height: 380px;
    object-fit: fill;
}


.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.movieTitle{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.movieDesc{
    letter-spacing: 0.5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:justify;
    color: rgb(118, 115, 115);
}

.detailsBtn{
    width: 40%;
    margin: 10px auto;
    height: 30px;
    font-size: 15px;
    color: white;
    background-color: #d90429;
    transition: transform 0.2s ease-in-out;
    border: none;
    border-radius: 0.3rem;
}

.detailsBtn:hover{
    background-color: #ef233c;
    transform: scale(1.03);
}

.movieCard:hover{
    transform: translateY(-5px);
}

.dBtn{
    text-decoration: none;
    color: white;
}


@media (max-width: 450px){
    .movieCard{
        width: auto;
        margin-bottom: 30px;
    }
}

@media (max-width: 850px) and (min-width: 450px){
    .movieCard{
        margin-bottom: 30px;
    }
}

@media (max-width: 1100px) and (min-width: 850px) {
    
}